-i https://pypi.org/simple
bleach==3.0.2
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
ipython-genutils==0.2.0
jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
markupsafe==1.1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
pandocfilters==1.4.2
pygments==2.2.0
six==1.11.0
testpath==0.4.2
traitlets==4.3.2
webencodings==0.5.1
